
<h1>All articles</h1>
<ul>
  {% for article in articles %}
    <li>
      <a href="{% url 'article-detail' article.id %}">
        {{ article.name }} — {{ article.text|truncatechars:50 }}
      </a>
      <br>
      <strong>Topics:</strong>
      {% for topic in article.topics.all %}
        <a href="{% url 'topic-articles' topic.id %}">{{ topic.name }}</a>{% if not forloop.last %}, {% endif %}
      {% empty %}
      No topics
      {% endfor %}
    </li>
  {% empty %}
    <li>No articles</li>
  {% endfor %}
</ul>
