{% extends 'base.html' %}

{% block content %}
  <h1>All Articles</h1>
  <ul>
    {% for article in articles %}
      <li>
        <a href="{% url 'article-detail' article.id %}"><strong>{{ article.name }}</strong></a><br>
        {{ article.text|slice:":50" }}...<br>
        Темы:
        {% for topic in article.topics.all %}
          <a href="{% url 'topic-articles' topic.id %}">{{ topic.name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
          no items
        {% endfor %}
      </li>
      <hr>
    {% empty %}
      <li>No articles</li>
    {% endfor %}
  </ul>
{% endblock %}

