{% extends 'base.html' %} {% block content %}
<div>{{ now| date:"SHORT_DATE_FORMAT" }}</div>
<div>{{ now|date:"D d M Y" }} {{ value|time:"H:i" }}</div>
<div>{{ not_exist|default:"nothing" }}</div>
<div>{{ my_str | capfirst }}</div>
<div>{{ my_list | join:"**" }}</div>
{% endblock %}

<!-- #1st variant web -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <div style="border: 1px darkblue solid">{{ my_num }}</div>
      <div style="border: 1px darkseagreen solid">{{ my_str }}</div>
      <div style="border: 1px fuchsia solid">{{ my_set }}</div>
      <div style="border: 1px firebrick solid">{{ my_dict.some_key }}</div>

      <div style="border: 1px cyan solid">{{ my_class.string }}</div>
      <div style="border: 1px cyan solid">{{ my_list.0 }}</div>
      <div style="border: 1px burlywood solid">{{ my_tuple.1 }}</div>
    </div>
  </body>
</html> -->

<!-- # 2nd variant web -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      {% if display_num %} {{ my_num }} {% else %}
      <span> We don't display num </span>
      {% endif %}
    </div>
  </body>
</html> -->

<!-- # 3rd variant web -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      {% for item in my_list %}
      <span>{{ item }}</span>
      <br />
      {% endfor %}
    </div>
  </body>
</html> -->

<!-- 4 don't show second element -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      {% for item in my_list %} {% if forloop.counter0 != 1 %}
      <span>{{ item }}</span>
      <br />
      {% endif %} {% endfor %}
    </div>
  </body>
</html> -->

<!-- 5 template for  second page -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <a href="{% url 'first' %}">Another page</a>
    </div>
  </body>
</html> -->

<!-- 6 -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <a href="{% url 'first' %}">Another page</a>
    </div>
  </body>
</html> -->

<!-- Запусти сервер и проверь
Открой в браузере главную страницу: http://127.0.0.1:8000/

Ты увидишь ссылку Another page

Кликни на неё — она должна вести на http://127.0.0.1:8000/first/

Там должна открыться страница с текстом "Это страница First" -->
