{% extends 'base.html' %}

{% block content %}
  <h1>Related articles: {{ topic.name }}</h1>

  {% if user.is_authenticated %}
    {% if user in topic.subscribers.all %}
      <form action="{% url 'topic-unsubscribe' topic.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Unsubscribe</button>
      </form>
    {% else %}
      <form action="{% url 'topic-subscribe' topic.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Subscribe</button>
      </form>
    {% endif %}
  {% endif %}

  {% if articles %}
    <ul>
      {% for article in articles %}
        <li>
          <a href="{% url 'article-detail' article.id %}">{{ article.name|truncatechars:50 }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no articles on this topic</p>
  {% endif %}

  <a href="{% url 'topic-list' %}">Return to the list of topics</a>
{% endblock %}
